*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #7edbea;
    width: 100vw;
    height: 15vh;
    

}
.heading{
    margin: 0px 20px 0 200px;
    padding-top: 10px;
    display: flex;
    /* justify-content: center; */
    align-items:center;
}
.logo-text{
    font-size: 40pt;
    margin-right: 700px;
    color: rgb(14, 14, 14);
    
}
.searchbox{
margin-right: 50px;
}

.navbar{
    margin: 10px 200px 0 200px;
    background-color: #10a2b6;
    height: 5vh;
    display: flex;
    align-items: center;
    
}
a{
    color: rgb(14, 13, 13);
    text-decoration: none;
    margin: 0 50px 0 20px
}
.container{
    height: 80vh;
    background-color:rgb(255, 255, 255);
}
.container1{
    background-color: #0fabc7;
    margin: 5px 200px 0 200px;
    height: 300px;
    display: flex;
    
}
.blog-in-container1{
    width: 800px;

}
.read_more{
    margin: 80px 30px 30px 650px ;
    
}
.read{
    color: rgb(34, 13, 94);
}
.text-in-container1{
    padding: 15px;
}
.img-in-container1{
    height: 300px;
    width: 720px;
}

.container2{
    background-color: white;
    margin: 15px 200px 0px 200px;
    height: 25vh;
    display: flex;
    justify-content: center;    
}
.color{
    color:rgb(34, 13, 94) ;
}
.gyb-img{
    
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.g-img{
    border: 2px solid green;
    margin-left: 5px;
}
.y-img{
    border: 2px solid green;
    margin-left: 5px;
}
.b-img{
    border: 2px solid green;
    margin-left: 5px;
}
.gallery{
display: flex;
justify-content: center;
align-items:center;
}
.line{
    margin: 0px 200px 5px 200px;
}
.container3{
    background-color: white;
    margin: 01px 200px 0 200px;
    height: 25vh;
    display: flex;
}
.sub-footer{
    width: 33.33%;
}
hr{
    margin: 5px 0 5px 0;
}
.wikipedia{
    display: flex;
}
.wikipedia img{
    border: 2px solid green;
    margin: 20px;
}
#read{
    margin-top: 120px;
  
}

.footer{
    background-color: #3799ab;
    height: calc(5vh);
    color: white;
    display: flex;
    align-items: center;
}
.footer-text{
    margin-left: 200px;
}